* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #d1dcf4;
  color: #0f172a;
}

.logo-img {
  width: 100px;
  height: 85px;
  border-radius: 10%;
  object-fit: cover;
}
.logoOrellana-img {
  width: 240px;
  height: 230px;
  border-radius: 20%;
  object-fit: cover;
}